h1{
    color: red;
}
p{
    /*color: rgb(0,255,0);*/
    color: #385838; /*hexa */
    font-size: 25px;
    font-weight:400 ;/* 100-thin 300-light 400-normal 500-medium 600-semi-bold 700-bold 800-extra-bold 900-black */
    text-align: justify;/* left right center justify */
    line-height: 1.5;/* 1.5 x 15px -> 22.5px */
    font-family: "Times New Roman";
    text-decoration: none;/* underline line-through overline none */
    text-indent: 20px; /* px pt em % ... */
    width: 800px;
    background-color: #EEE8AA;
    border-bottom: 1px solid #DAA520;/* solid dashed dotted */
}
a{
    text-decoration: none;
    text-transform: none;/* uppercase lowercase capitalize none */
    font-style: italic;
}
li{
    list-style: none;
}